:root {
	--orange: #fb9300;
	--yellow: #ffc947;
	--red: #f54747a4;
	--blue: #343f56;
	--blue-with-less-opacity: rgb(52, 63, 86, 0.8);
	--fuente: "Raleway", sans-serif;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
body {
	font-family: var(--fuente);
	background: #343f56;
}
.header {
	background-color: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}
.header__titulo {
	color: white;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
}
.hamburger-menu {
	position: fixed;
	top: 0;
	background-color: var(--blue-with-less-opacity);
	height: 100vh;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
	overflow-y: auto;
	transform: translateX(-100vw);
	opacity: 0;
	transition: all 800ms ease;
}
/* Class for JS */
.show-hamburger-menu {
	transform: translateX(0);
	opacity: 1;
}
.lista-secciones {
}
.lista-secciones__seccion {
}
.lista-seccion__link {
	display: block;
	padding: 20px 0;
	width: 100%;
	text-decoration: none;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.lista-seccion__link:hover {
	background-color: var(--red);
}
.hamburger-menu__btn {
	position: fixed;
	right: 25px;
	bottom: 25px;
	font-size: 32px;
	background-color: var(--red);
	color: white;
	border-radius: 100%;
	padding: 16px;
	z-index: 10;
}
.hamburger-menu__btn:hover {
	cursor: pointer;
}
.main {
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 700px) {
	.main {
		width: 90%;
		max-width: 650px;
	}
}
.main__section {
	height: 100vh;
	padding: 32px;
	color: white;
}
.section__h2 {
	font-size: 26px;
	text-align: center;
	margin-bottom: 32px;
}
.main__section p {
	text-align: center;
	font-size: 20px;
	line-height: 1.4;
}

/* Relog digital y alarma*/
.contenedor-relog,
.contenedor-alarma {
	max-width: 650px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
}
.relog,
.alarma {
	flex-basis: 100%;
	font-size: 22px;
	text-align: center;
	margin-bottom: 16px;
}
.bell {
	color: var(--yellow);
	font-size: 120px;
}
.playing {
	animation-name: playing;
	animation-timing-function: linear;
	animation-duration: 750ms;
	animation-iteration-count: infinite;
}
@keyframes playing {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.hora,
.minutos {
	margin-right: 4px;
}
.contenedor-relog button,
.contenedor-alarma button {
	padding: 8px 16px;
	border: 0;
	background-color: var(--red);
	color: white;
	font-size: 18px;
	border-radius: 5px;
}
button:hover {
	cursor: pointer;
}

/* JS clases */
.opacity-50 {
	opacity: 0.5;
}
.cursor-not-allowed:hover {
	cursor: not-allowed;
}
.hidden {
	visibility: hidden;
}
