:root {
	--orange: #fb9300;
	--yellow: #ffc947;
	--red: #f54747a4;
	--blue: #343f56;
	--blue-with-less-opacity: rgb(52, 63, 86, 0.8);
	--fuente: "Raleway", sans-serif;
	/* Otros colores */
	--celeste: #188c94;
	--light-yellow: #cbc0a9;
	--dark-blue: rgb(32, 32, 48);
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
body {
	font-family: var(--fuente);
	background: #343f56;
	overflow-x: hidden;
}
.header {
	background-color: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}
.header__titulo {
	color: white;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
}
.hamburger-menu {
	position: fixed;
	top: 0;
	background-color: var(--blue-with-less-opacity);
	height: 100vh;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
	overflow-y: auto;
	transform: translateX(-100vw);
	opacity: 0;
	transition: all 800ms ease;
}
/* Class for JS */
.show-hamburger-menu {
	transform: translateX(0);
	opacity: 1;
}
.lista-secciones {
}
.lista-secciones__seccion {
}
.lista-seccion__link {
	display: block;
	padding: 20px 0;
	width: 100%;
	text-decoration: none;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.lista-seccion__link:hover {
	background-color: var(--red);
}
.btn-hamburger,
.btn-arrow,
.btn-change-mode {
	position: fixed;
	right: 25px;
	bottom: 25px;
	font-size: 32px;
	background-color: var(--red);
	color: white;
	border-radius: 100%;
	padding: 16px;
	z-index: 10;
	transition: opacity 1s linear, visibility 1s linear;
}
.btn-change-mode {
	right: auto;
	left: 25px;
}
.btn-arrow {
	right: 100px;
}
.btn-hamburger:hover,
.btn-arrow:hover,
.btn-change-mode:hover {
	cursor: pointer;
}
.main {
	margin: 0 auto;
	width: 100%;
}
.main a {
	color: #ddd;
}
.main__section {
	min-height: 100vh;
	padding: 32px;
	color: white;
}
.section__h2 {
	font-size: 26px;
	text-align: center;
	margin-bottom: 32px;
}
.main__section p {
	text-align: center;
	font-size: 20px;
	line-height: 1.4;
}

/* Relog digital y alarma*/
.contenedor-relog,
.contenedor-alarma {
	max-width: 650px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
}
.relog,
.alarma {
	flex-basis: 100%;
	font-size: 22px;
	text-align: center;
	margin-bottom: 16px;
}
.bell {
	color: var(--yellow);
	font-size: 120px;
}
.playing {
	animation-name: playing;
	animation-timing-function: linear;
	animation-duration: 750ms;
	animation-iteration-count: infinite;
}
@keyframes playing {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.contenedor-relog button,
.contenedor-alarma button {
	padding: 8px 16px;
	border: 0;
	background-color: var(--red);
	color: white;
	font-size: 18px;
	border-radius: 5px;
}
button:hover {
	cursor: pointer;
}
/* Keyboard */
.rectangle {
	position: relative;
	max-width: 1000px;
	height: 300px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}
@media (max-width: 1000px) {
	.main__section {
		padding-left: 0;
		padding-right: 0;
	}
	.rectangle {
		max-width: 100%;
	}
}
.circle {
	position: absolute;
	z-index: 20;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: var(--red);
}
.contenedor-atajos {
	position: absolute;
	left: 0;
	bottom: 5%;
	z-index: 10;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-evenly;
}
.code {
	background-color: rgba(0, 0, 0, 0.2);
	border-left: 3px solid var(--red);
	width: 100px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.countdown {
	display: flex;
	justify-content: space-around;
	max-width: 500px;
	margin: 24px auto;
}
.countdown p {
	font-size: 32px;
	margin-bottom: 4px;
}
.countdown h3 {
	font-size: 16px;
}

/* JS clases */
.opacity-0 {
	opacity: 0;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-100 {
	opacity: 1;
}
.cursor-not-allowed:hover {
	cursor: not-allowed;
}
.hidden {
	visibility: hidden;
}
.alerta {
	max-width: 450px;
	margin: auto;
	margin-top: 24px;
	padding: 12px 0;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.error {
	border: 1px solid rgb(134, 29, 29);
	background-color: rgb(255, 214, 214);
	color: rgb(134, 29, 29);
}
.correcto {
	border: 1px solid rgb(30, 131, 30);
	background-color: rgb(209, 255, 209);
	color: rgb(30, 131, 30);
}
.fixed {
	padding: 24px 64px;
	margin-top: 0;
	position: fixed;
	top: 25px;
	right: 25px;
}
/* Light mode */
body.light-mode {
	background-color: #ddd;
}
.header.light-mode {
	background-color: var(--dark-blue);
}
span.light-mode {
	background-color: var(--dark-blue);
}
.lista-seccion__link.light-mode:hover {
	background-color: var(--blue);
}
.main.light-mode * {
	color: black;
}
.main.light-mode .error {
	color: rgb(134, 29, 29);
}
.main.light-mode .correcto {
	color: rgb(30, 131, 30);
}
.main.light-mode button {
	background-color: var(--blue);
	color: white;
}
.main.light-mode .rectangle {
	background-color: rgb(32, 32, 48);
}
.main.light-mode .code {
	background-color: #ddd;
}
/* Responsive video mapa */
.container-responsive {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}
/* form */
.formulario {
	max-width: 450px;
	margin: 0 auto;
}
.campo {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}
.label {
	font-weight: 400;
	margin-bottom: 4px;
}
.input {
	height: 48px;
	padding: 8px;
	padding-left: 12px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.input:focus {
	border-left: 3px solid var(--red);
}
.contenedor-btn {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin-top: 24px;
}
.contenedor-btn button {
	padding: 8px 16px;
	border: 0;
	background-color: var(--red);
	color: white;
	font-size: 18px;
	border-radius: 5px;
}

#webcam {
	border: 3px solid var(--dark-blue);
	max-width: 480px;
	height: 360px;
}
